body {
    margin-top: 0px;
    background-color: black;
    padding: 0%;
    background: url("Recording Studio Exeter Devon_Background.JPG");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


/*navbar shit*/

#navbar {
    width: 100%;
    height: 50px;
    background-color: grey;
}

.navbar {
    background-color: black;
}

a.nav-link {
    color: white;
}

#intro-text {
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    font-size: 30px;
    margin-top: 170px;
    padding: 5%;
    font-family: Josefin Sans;
}


/*music playlist edits*/

h1 {
    text-align: left;
    color: white;
    margin-left: 40px;
    font-family: Josefin Sans;
}

#music {
    padding-top: 10px;
}
